.label {
  font-family: 'Ubuntu'
}

.node {
  stroke-width: 1px;
  fill: red;
  stroke: black;
}

.edge {
  stroke: black;
}

#controls { 
  margin: 0px 20px;
}
#controls i {
  margin: 0px 5px;
  cursor: pointer;
}
#controls i:hover {
  color: blue;
}