body, html { 
  padding: 0;
  margin: 0;
  width: 100%;
}

.label {
  font-family: 'Ubuntu'
}

.node {
  stroke-width: 1px;
  fill: red;
  stroke: black;
}

.edge {
  stroke: black;
}
#graph { 
  overflow: hidden;
}

#key {
  padding: 10px;
  text-align: center;
}

#controls { 
  margin: 0px 20px;
}
#controls i {
  margin: 0px 5px;
  cursor: pointer;
}
#controls i:hover {
  color: blue;
}