.ndtv-fullscreen { 
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.label {
  font-family: 'Ubuntu'
}

.dragging {
  cursor: move;
}

.node {
  stroke-width: 1px;
  fill: red;
  stroke: black;
}

.edge {
  stroke: black;
}

.graph { 
  overflow: hidden;
}

.key {
  padding: 10px;
  text-align: center;
}

.controls { 
  margin: 0px 20px;
}

.play-control-container>div {
  width: 32px;
  height: 32px;
  overflow: hidden;
  display: inline-block;
}

.controls .icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.controls .icon:hover {
  fill: blue;
}

.data_chooser_container {
  position: absolute; top: 10px; left: 10px;
}

.play-control-container {
  float: right; 
  background: #ccc; 
  border-radius: 5px; 
  padding: 7px;
  padding-bottom: 3px;
  box-sizing: border-box;
}

.ndtv-d3-container { 
  position: relative;
  box-sizing: border-box;
  border: 1px solid;
}

.slider { 
  margin-right: 210px;
  box-sizing: border-box;
}
